
@{
    ViewBag.Title = "Финализација";
}

<h2 class="text-success">Успешно!</h2>
<p class="lead">
    Податоци за вашите карти се пратени на email адресата која што ја пративте во формата.
    <br />Сите потребни инструкции се наоѓаат во самиот документ пратен со картите.
</p>
<p class="lead">
    За дополнителни прашања обратете се на <span class="textColor fw-semibold">contact@nastani.mk</span><br/>
    Или на телефонскиот број: <span class="textColor fw-semibold">075/738-257</span>
</p>
<p class="lead">
    Се гледаме на самиот настан ! <br/>
    Поздрав, <br/>
    Тимот на <span class="textColor fw-semibold">НастаниМК</span>
</p>

<div>
    <a href="/Home/Index" class = "btn btn-primary mt-3">Врати се на Почетна</a>
</div>

