
@{
    ViewBag.Title = "Контакт";
}

<div class="mt-5">
    <h2 id="title" class="textColor">Ви благодариме за довербата господине @ViewBag.User !</h2>
    <p class="lead">
        Нашите одговорни ќе се погрижат да ве контактираат во најкраток можен рок.<br />
        Останете со нас !
    </p>
</div>

<div class="mt-5">
    @Html.ActionLink("Почетна", "Index", "Home", new { @class = "btn btn-primary" })
    <a href="/Events/IndexUser" class="btn btn-primary">Настани</a>
</div>

